
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 30px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
 .btnn {
  background-color: #4CAF50;
  color: white;
  display: inline;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  
  opacity: 0.9;
}

.btnlogin {
  background-color: #4CAF50;
  color: white;
  display: inline;
  padding: 14px 25px;
  margin: 8px 20px;
  border: none;
  cursor: pointer;
   width: 70%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn .signupbtn {
  float: left;
  width: 50%;
   
  left: 350px;
  top: 150px;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  
  z-index: 1; /* Sit on top */
 
  width: 100%; /* Full width */
  height: 100%; /* Full height */

  background-color: #474e5d;
 
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 4% auto 5% auto; /* 5% from the top, 5% from the bottom and centered */
  border: 1px solid #888;
  width:35%; /* Could be more or less, depending on screen size */
  min-height: 500px;
}


/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.close:hover,
.close:focus {
  color: white;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

span.psw {
  float: right;
 
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn, .btnlogin {
    width: 100%;
  }
}